.app-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/match-game-bg.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.card-container {
  background-color: #ffffff;
  border-width: 0px;
  border-radius: 6px;
  box-shadow: aliceblue;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  color: #2c0e3a;
  font-family: "Roboto";
  font-size: 34px;
}
@media screen and (max-width: 767px) {
  .heading {
    font-size: 24px;
  }
}
.start-button {
  background-color: #fec653;
  color: #2c0e3a;
  height: 28px;
  width: 110px;
  border-width: 0px;
  border-radius: 6px;
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
.notify-msg {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 24px;
}
